/* Estilização base da página */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Okta Neue';
    src: local('Okta Neue Regular'), local('Okta-Neue-Regular'),
        url('../assets/fonts/OktaNeue-Regular.woff2') format('woff2'),
        url('../assets/fonts/OktaNeue-Regular.woff') format('woff'),
        url('../assets/fonts/OktaNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Okta Neue bold';
    src: local('Okta Neue Bold'), local('Okta-Neue-Bold'),
        url('../assets/fonts/OktaNeue-Bold.woff2') format('woff2'),
        url('../assets/fonts/OktaNeue-Bold.woff') format('woff'),
        url('../assets/fonts/OktaNeue-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }  

@font-face {
    font-family: 'Okta Neue italic';
    src: local('Okta Neue Italic'), local('Okta-Neue-Italic'),
        url('../assets/fonts/OktaNeue-RegularItalic.woff2') format('woff2'),
        url('../assets/fonts/OktaNeue-RegularItalic.woff') format('woff'),
        url('../assets/fonts/OktaNeue-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }  

#root{
    max-width: 1280px;
    margin: 0 auto;
}

:root{
    /* Padrão de cores do site */ 
     --blue:#110263;
    --orange:#ff432e;
    --white: #fff ;

    /* Padrão de fontes do site */ 
    --font:'Okta Neue';
    --font-bold:'Okta Neue bold';
    --font-italic:'Okta Neue italic';
}


/* Estilização navbar */ 


.navbarContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbarContainer img{
    width: 300px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

.navLinkContainer{
    display: flex;
    gap: 25px;
    font-family: var(--font);
}

.navLink{
    text-decoration: none;
    gap: 25px;
    cursor: pointer;
    color: var(--blue);
}

.navLinkSelect{
    border-bottom: 3px solid var(--orange);
    padding-bottom: 5px;
}

.navLinkContainer button{
    border: 2px solid var(--blue);
    border-radius: 16px;
    padding: 5px  10px ;
    color: var(--blue);
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 6px;
}

.icon{
   max-width: 22px;
   max-height: 22px;
}

/*footer*/

.footerContainer{
    display: flex;
    background-color: var(--blue);
    width: 100%;
    color: var(--white);
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
}

.logoContainer img{
    width: 320px;
}

.infosContainer{
    display: flex;
    width: 100%;
    height: 70%;
    border-bottom: 1px solid var(--white);
    justify-content: space-between;
    padding: 0 30px;
    padding-bottom: 20px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts button{
    border-radius: 16px;
    padding: 8px 10px;
    border: 1px solid var(--white);
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    gap: 5px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    width:180px;
    font-family: var(--font);
}

.contacts h3{
    font-family: var(--font-bold);
}

.contacts p{
    font-family: var(--font);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon{
    font-size: 18px;
}

.social{
    font-family: var(--font-bold);
}    

.social div svg{
    font-size: 20px;
}

.social img{
    width: 150px;
}

.terms{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 70%;
    justify-content: space-around;
}

.terms a{
    text-decoration: none;
    color: var(--white);
    font-family: var(--font);
    font-size: 12px;
}


/* Inicie aqui o seu css */
