/*      BANNER     */
.bannerPlanos{
    margin-top: 75px;
    width: 100%;
}



/*      TEXTO PRINCIPAL     */
.textoDestaque{
    font-family: var(--font-bold);
    text-align: center;
    font-size: 20px;
    margin: 10vh 15vw;
    color: var(--blue);
}
.enfase{
    color: var(--orange);
}



/*      CARDS DOS PLANOS     */
.planoGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 10vh 10vw;
    align-items: stretch;
    overflow-x: hidden;
}

.cardPlano{
    display: flex;
    flex-direction: column;
    padding: 15px;
    transition: all 0.5s ease;
}

.cardPrincipal{
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid var(--blue);
    transition: all 0.5s ease;
}

.valorDestaque{
    font-size: 1.2rem;
    line-height: 1;
    position: relative;
    top: -7px;
}

.frasePlano{
    margin-bottom: 10px;
    color: gray;
}

.cardPrincipal ul{
    margin-top: 15px;
    margin-left: 25px;
}

.detalheOk{
    list-style-image: url('/img/icone/iconOkBlue.svg');
}
.detalheX{
    list-style-image: url('/img/icone/iconXOrange.svg');
}

.buttonPlano{
    font-size: 16px;
    padding: 10px 50px;
    margin-top: 40px;
    justify-self: center;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: var(--blue);
}

.pOculto, .spanOculto{
    display: none;
}



/*      CARDS DOS PLANOS (COM HOVER)      */
.cardPlano:hover {
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.3);
    background-color: var(--orange);
}

.cardPlano:hover .cardPrincipal{
    border: none;
    background-color: white;
}

.cardPlano:hover .pOculto{
    font-family: var(--font);
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: white;
}

.cardPlano:hover .spanOculto{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    cursor: pointer;
    color: var(--orange);
}

.cardPlano:hover .buttonPlano{
    font-size: 16px;
    padding: 10px 50px;
    margin-top: 40px;
    justify-self: center;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: var(--blue);
}
 
@media(max-width: 1200px){
    .planoGrid{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 750px){
    .planoGrid{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .cardPlano{
        width: 80%;
    }
}